{% extends "base.html.twig" %}

{% block content %}

<div class="content_container p-4 border bg-blue-100 text-black">
	<form action="/auth/save" method="GET">
		<input class="border p-1" id="auth_secret" name="auth_secret" />
	  <button class="border p-1 px-3`" type="submit">Submit</button>
	</form>
</div>

{% endblock %}